name: Build and Deploy Documentation
on: [push, pull_request, workflow_dispatch]
jobs:
  doc:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          pip install "sphinx==7.2.6" pydata-sphinx-theme numpydoc .

      - name: Sphinx build
        run: |
          sphinx-build doc/source public/

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}
        with:
          publish_branch: gh-pages
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./public
          force_orphan: true